@font-face {
  font-family: 'Typewriter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/Typewriter.woff2) format('woff2');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(assets/fonts/AvenirNext.woff2) format('woff2');
}

@font-face {
  font-family: 'Courier New';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/CourierNew.woff2) format('woff2');
}

@font-face {
  font-family: 'Noteworthy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/Noteworthy.woff2) format('woff2');
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(assets/fonts/Georgia.woff2) format('woff2');
}

@font-face {
  font-family: 'Papyrus';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/Papyrus.woff2) format('woff2');
}

@font-face {
  font-family: 'Snell Roundhand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/SnellRoundhand.woff2) format('woff2');
}
